* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

html {
    font-size: 15px;
}

body {
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    max-width: 1100px;
    display: grid;
    place-content: center;
    margin-inline: auto;
}

img {
    max-width: 100%;
}

p {
    line-height: 1.5;
    color: var(--dark-grayish-blue);
}

ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: var(--very-dark-blue);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
}

nav {
    opacity: 0;
    z-index: -999;
}

nav.open {
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 75vw;
    padding: 1.25rem;
    opacity: 1;
    z-index: 999999999;
}

nav ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

nav ul li {
    margin: 1rem 0;
    font-size: 16px;
}

nav ul li a:hover {
    cursor: pointer;
    color: var(--soft-red);
}

#menu {
    display: block;
}

#menu-btn {
    display: block;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
} 

nav #close-btn {
    background: transparent;
    outline: none;
    border: none;
    position: absolute;
    right: 1.25rem;
    cursor: pointer;
}

.showcase {
    padding: 1.25rem;
    padding-top: 0;
}

.showcase h1 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--very-dark-blue);
    margin-top: 1rem;
    margin: 1rem 0;
}

.info {
    margin-bottom: 1rem;
    font-weight: 400;
}

.intro button {
    background-color: var(--soft-red);
    color: var(--very-dark-blue);
    outline: 0;
    border: 0;
    font-weight: 800;
    font-size: .75rem;
    padding: .8rem 1.25rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
    background-color: var(--very-dark-blue);
    color: var(--off-white);
}

.news {
    background-color: var(--very-dark-blue);
    color: var(--off-white);
    margin-top: 3rem;
    padding: 1.25rem;
}

.news h2 {
    color: var(--soft-orange);
    margin-bottom: 1rem;
}

.news h3 {
    margin-bottom: .5rem;
}

.news h3:hover {
    cursor: pointer;
    color: var(--soft-orange);
}

.news article {
    border-bottom: 1px solid var(--dark-grayish-blue);
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
}

.news article:last-child {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.cards {
    padding: 1.25rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
}

.cards article {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.cards article span {
    color: var(--soft-red);
    font-weight: 700;
    font-size: 2rem;
}

.cards article h4 {
    font-size: 1rem;
    color: var(--very-dark-blue);
    margin: .5rem 0;
}

.cards article h4:hover {
    color: var(--soft-red);
    cursor: pointer;
}

.cards article img {
    width: 120px;
}

@media (min-width: 768px) {
    .showcase {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    #menu, #menu-btn, #close-btn {
        display: none;
    }

    nav {
        opacity: 1;
        z-index: 999999999;
        position: relative;
    }

    nav ul {
        position: absolute;
        right: 0;
        display: flex;
        justify-content: space-between;
    }

    nav ul li {
        margin-right: 2rem;
    }

    nav ul li a {
        font-size: 1rem;
        color: var(--dark-grayish-blue);
        font-weight: 400;
    }

    .news {
        margin-top: 0;
    }

    .cards {
        display: flex;
    }
}